* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
} 

.alert {
  background: #fff;
}

.coloredSquare {
  background: #050505;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.Xbrush {
  background: #4b4a4a;
  border: 5px solid #b37d7d;
  font-size: 20px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  background-color: rgb(192, 100, 151);
}

.Hbrush {
  background: #b37d7d;
  border: 5px solid #b37d7d;
  font-size: 20px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  background-color: rgb(8, 8, 8);
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.discoveredClue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B2FFFF;
  border-radius: 8px;
  margin: 5px;
}

.discoveredClue div {
  margin: 2px
}

.colClues .discoveredClue  {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}