* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
} 

.alert {
  background: yellow;
}

.coloredSquare {
  background: #050505;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.Xbrush {
  width: 40px; /* Ancho del cuadrado */
  height: 40px; /* Altura del cuadrado */
  background-color: #b37d7d;
  border: 5px solid #b37d7d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.Xbrush::before,
.Xbrush::after {
  content: '';
  position: absolute;
  width: 70%; /* Longitud de las líneas de la X */
  height: 5px; /* Grosor de las líneas de la X */
  background-color: #131212; /* Color de las líneas de la X */
  top: calc(50% - 2.5px); /* Posiciona verticalmente las líneas */
  left: 50%; /* Posiciona horizontalmente las líneas */
  transform-origin: center; /* Establece el origen de la transformación en el centro */
}

.Xbrush::before {
  transform: translateX(-50%) rotate(45deg); /* Inclina la línea para formar la X */
}

.Xbrush::after {
  transform: translateX(-50%) rotate(-45deg); /* Inclina la línea para formar la X */
}
.Hbrush {
  width: 40px; /* Ancho del cuadrado */
  height: 40px; /* Altura del cuadrado */
  background-color: #000; /* Color de fondo negro */
  border: 5px solid #b37d7d;
  position: relative;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.discoveredClue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B2FFFF;
  border-radius: 8px;
  margin: 5px;
}

.discoveredClue div {
  margin: 2px
}

.colClues .discoveredClue  {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.container{
  display: flex;
  flex-direction: row;
  padding : 10px;
  justify-content: center;
  align-items: center;
}